<div class="container">
    <div class="row justify-content-center align-items-center login-page">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6 p-2">
            <mat-card class="mat-elevation-z12">
                <div class="container">
                    <form [formGroup]="contactoform" (ngSubmit)="crear()">
                        <mat-form-field class="login">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="nombre">
                            <mat-error *ngIf="nombre.hasError('required')">
                                El <strong> nombre </strong> es requerido
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="login">
                            <mat-label>Telefono</mat-label>
                            <input matInput placeholder="Telefono" formControlName="telefono">
                            <mat-error *ngIf="telefono.hasError('required')">
                                El <strong> Telefono </strong> es requerido
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="login">
                            <mat-label>Correo electronico</mat-label>
                            <input matInput placeholder="Correo electronico" formControlName="email">
                            <mat-error *ngIf="email.hasError('email')">
                                El <strong> correo electronico </strong> no es valido
                            </mat-error>
                            <mat-error *ngIf="email.hasError('required')">
                                El <strong> correo electronico </strong> es requerido
                            </mat-error>
                        </mat-form-field>
                      
                        <mat-form-field class="login">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker"  formControlName="fecha_nac">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="fecha_nac.hasError('required')">
                                La <strong> Fecha de nacimiento </strong> es requerido
                            </mat-error>
                          </mat-form-field>

                       <!--  <mat-form-field class="login">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput placeholder="Fecha de nacimiento" formControlName="fecha_nac">
                            <mat-error *ngIf="fecha_nac.hasError('required')">
                                La <strong> Fecha de nacimiento </strong> es requerido
                            </mat-error>
                        </mat-form-field> -->

                        <button mat-raised-button color="primary" class="login"
                            [disabled]="contactoform.invalid">Guardar</button>

                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</div>