table {
    width: 100%;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }

  @media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }

    .mat-table {
        min-width:800px;
    }
}