<div class="p-4">

  <!-- <div class="pb-2">
    <button mat-raised-button color="primary" [routerLink]="['/crear']">Agregar</button>
  </div> -->

  <div class="responsive_table mat-elevation-z8" *ngIf="Contactos.length > 0;else elseT">
    <table mat-table [dataSource]="dataSource">

     

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_nac">
        <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_nac | fecha}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<ng-template #elseT>
  <div class="d-flex justify-content-center">
    <p>No hay registros</p>
  </div>
</ng-template>