<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="ep" [routerLink]="['']" >Registro de contactos</span>
      
      <span class="ep" [routerLink]="['/miapp']" >Agregar</span>

      <span class="ep" [routerLink]="['/miapp/visualizar']" >Visualizar</span>
    </mat-toolbar-row>
</mat-toolbar>
