/* You can add global styles to this file, and also import other style files */


* {
    &:active,
     :focus {
        outline: none !important;
    }
}

label {
    margin-bottom: 0;
}

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$link-hover-decoration: none; // remove underline from button links
$link-color: #3f51b5; // set link color based on the used material theme
$link-hover-color: currentColor;

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.login-page {
    height: 90vh;
}
